<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>編集｜<%= campground.title %></title>
  </head>
  <body>
    <h1><%= campground.title %>の編集</h1>
    <form action="/campgrounds/<%= campground._id %>?_method=PUT" method="POST">
      <div>
        <label for="title">キャンプ場名</label>
        <input type="text" id="title" name="campground[title]" value="<%= campground.title %>" />
      </div>
      <div>
        <label for="location">場所</label>
        <input type="text" id="location" name="campground[location]" value="<%= campground.location %>" />
      </div>
      <div>
        <label for="price">価格</label>
        <input type="number" id="price" name="campground[price]" value="<%= campground.price %>" />
      </div>
      <div>
        <label for="description">説明文</label>
        <textarea name="campground[description]" id="description"><%= campground.description %></textarea>
      </div>
      <button>更新する</button>
    </form>
  </body>
</html>
