<% layout("./layouts/boilerplate") %>

<div class="row">
  <!-- flashパーシャル -->
  <%- include("../partials/flash") -%>
  <div class="col-6">
    <div class="card mb-3">
      <img src="<%= campground.imageUrl %>" class="img-fluid card-img-top" />
      <div class="card-body">
        <h5 class="card-title"><%= campground.title %></h5>
        <p class="card-text"><%= campground.description %></p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-muted"><%= campground.location %></li>
        <li class="list-group-item">登録者：<%= campground.author.username %></li>
        <li class="list-group-item">¥<%= campground.price %>/泊</li>
      </ul>
      <% if(currentUser && campground.author.equals(currentUser._id)){%>
      <div class="card-body">
        <a class="btn btn-warning" href="/campgrounds/<%= campground._id %>/edit">編集する</a>
        <form class="d-inline" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">
          <button class="btn btn-danger">削除する</button>
        </form>
      </div>
      <% } %>
    </div>
  </div>

  <div class="col-6">
    <!-- レビュー -->
    <% if(currentUser) {%>
    <form action="/campgrounds/<%= campground._id %>/review" method="POST" class="mb-3">
      <div class="mb-3">
        <label class="form-label" for="rating">評価</label>
        <input type="range" class="form-range" id="rating" name="review[rating]" max="5" min="1" />
      </div>
      <div class="mb-3">
        <label class="form-label" for="text">コメント</label>
        <textarea class="form-control" name="review[text]" id="text" rows="5"></textarea>
      </div>
      <button class="btn btn-success">投稿する</button>
    </form>
    <% } %>
    <!-- カード -->
    <% for(let review of campground.review) { %>
    <div class="card mb-3">
      <div class="card-body">
        <p class="card-title">評価：<%= review.rating %></p>
        <p class="card-subtitle"><%= review.author.username %></p>
        <p class="card-text">コメント：<%= review.text %></p>
        <% if(currentUser && review.author.equals(currentUser._id)){ %>
        <form action="/campgrounds/<%= campground._id %>/review/<%= review._id %>?_method=DELETE" method="POST">
          <button class="btn btn-sm btn-danger">削除</button>
        </form>
        <% } %>
      </div>
    </div>
    <% } %>
    <!-- ここまでカード -->
    <!-- ここまでレビュー -->
  </div>
</div>
